<div id="confirmModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to finish and grade your exam? This will end your exam.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary gradeExam" id="finishExam">Finish</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}} #{{number}}</h3>
  </div>

  {{#open}}
  <div class="panel-body">

    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-8 col-xs-12">
          Saved answers: {{nSaved}}/{{nQuestions}}
        </div>

        <div class="col-sm-4 col-xs-12">
          <button class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Finish and grade exam</button>
        </div>

      </div> <!-- row -->
    </div> <!-- well -->
  </div> <!-- panel-body -->

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Question</th>
        <th class="cell-center">Save status</th>
      </tr>
    </thead>
    <tbody>
      {{#questionList}}
      <tr>
        <td><a href="#q/{{tiid}}/{{number}}">Question #{{number}}</a></td>
        <td class="cell-center">{{{saveStatus}}}</td>
      </tr>
      {{/questionList}}
    </tbody>
  </table>
  {{/open}}

  <!-- #################################################################### -->

  {{^open}}
  <div class="panel-body">

    <div class="well well-sm">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          Score: {{correctPercentage}}% ({{nCorrect}}/{{nQuestions}})
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          Time completed: {{finishDate}}
        </div>
      </div> <!-- row -->
    </div> <!-- well -->

  </div> <!-- panel-body -->

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Question</th>
        <th class="cell-center">Grading</th>
      </tr>
    </thead>
    <tbody>
      {{#questionList}}
      <tr>
        <td><a href="#q/{{tiid}}/{{number}}">Question #{{number}}. {{title}}</a></td>
        <td class="cell-center">{{{grade}}}</td>
      </tr>
      {{/questionList}}
    </tbody>
  </table>
  {{/open}}


</div>
