<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><a href="#ti/{{tiid}}">{{testTitle}}</a></h3></div>
  <div class="panel-body">

    {{#open}}
    <p>
      Current score: {{correctPercentage}}% ({{score}}/{{maxScore}})
    </p>
    {{/open}}

    {{^open}}
    <p>
      Score: {{correctPercentage}}% ({{score}}/{{maxScore}})
    </p>
    <p>
      Time completed: {{finishDate}}
    </p>
    {{/open}}

    <p class="text-center no-bottom-margin">
      <a class="btn btn-info" href="#ti/{{tiid}}">Exam overview</a>
    </p>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">{{questionTitle}}</h3></div>
  <div class="panel-body">
    
    {{#open}}

    <p>
      Question status: {{{questionStatus}}}
    </p>

    {{#questionOpen}}
    <p>
      Current value: {{{availablePoints}}}
    </p>
    <p>
      Remaining attempts: {{{remainingAttempts}}}
    </p>
    {{/questionOpen}}

    {{^questionOpen}}
    <p>
      Score: {{{points}}}
    </p>
    {{/questionOpen}}

    {{/open}}
    
    {{^open}}

    <p>
      Question status: {{{questionStatus}}}
    </p>
    <p>
      Score: {{{points}}}
    </p>

    {{#showQuestionScore}}
    <p>
      Question correctness:
      {{questionScore}}%
    </p>
    {{/showQuestionScore}}
    {{/open}}

  </div>
</div>

<p class="text-center">
  {{#prevQNumber}}
  <a class="btn btn-primary" href="#q/{{tiid}}/{{prevQNumber}}">Previous question</a>
  {{/prevQNumber}}
  {{^prevQNumber}}
  <a class="btn btn-primary disabled">Previous question</a>
  {{/prevQNumber}}
</p>
<p class="text-center">
  {{#nextQNumber}}
  <a class="btn btn-primary" href="#q/{{tiid}}/{{nextQNumber}}">Next question</a>
  {{/nextQNumber}}
  {{^nextQNumber}}
  <a class="btn btn-primary disabled">Next question</a>
  {{/nextQNumber}}
</p>
