<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>

  <div class="panel-body">

    <div class="well well-sm no-bottom-margin">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          Number of questions: {{nQuestions}}
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          Time limit: {{timeLimitMin}} minutes
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <button class="btn btn-primary doExam">New attempt at this exam</button>
        </div>
      </div> <!-- row -->
    </div> <!-- well -->
  </div> <!-- panel-body -->

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Attempt</th>
        <th class="cell-center">Score</th>
        <th class="cell-center">Time completed</th>
      </tr>
    </thead>
    <tbody>
      {{#attemptsList}}
      <tr>
        <td><a href="#ti/{{tiid}}">{{title}} #{{number}}</a></td>
        {{#open}}
        <td class="cell-center">In progress</td>
        <td class="cell-center">{{timeRemaining}}</td>
        {{/open}}
        {{^open}}
        <td class="cell-center">{{correctPercentage}}% ({{score}}/{{maxScore}})</td>
        <td class="cell-center">{{finishDate}}</td>
        {{/open}}
      </tr>
      {{/attemptsList}}
    </tbody>
  </table>

  <div class="panel-footer">
    <div id="highScoreHistogramPlot" class="scoreHistogram"></div>
  </div>

</div>
