<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="#ti/{{tiid}}">{{title}}</a></h3>
  </div>

  <div class="panel-body">
    <div class="well well-sm small-bottom-margin">
      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
          {{#open}}
          Current score: <strong>{{correctPercentage}}%</strong> ({{score}}/{{maxScore}})
          {{/open}}

          {{^open}}
          Score: <strong>{{correctPercentage}}%</strong> ({{score}}/{{maxScore}})
          {{/open}}
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{correctPercentage}}%"></div>
            <div class="progress-bar progress-bar-danger" style="width: {{incorrectPercentage}}%"></div>
          </div>
        </div>

        <div class="col-md-4 col-sm-8 col-xs-12">
          {{^open}}
          Time completed: <strong>{{finishDate}}</strong>
          {{/open}}
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12">
          <a class="btn btn-primary" href="#ti/{{tiid}}">Go to test</a>
        </div>

      </div> <!-- row -->
    </div> <!-- well -->
  </div> <!-- panel-body -->

</div>
